@media only screen and (min-width: 1023px) {
    
    #main {
        width: 960px;
        margin: 0 auto;
        }
        
    
    .person-a {
         width: 440px;
         padding: 20px;
         float: left;
        }
        
    .person-b {
        
        
        
        
        }
        

    }