@media only screen and (min-width: 1023px) {
    
   header {
       margin-bottom: 33px;
       }
    
    #main {
        width: 1020px;
        margin: 0 auto;
        }
        
    #logo {
        h1 {
            font-size: 32px;
            color: #328fc9;
            letter-spacing: 1px;
            
            &:nth-letter(3n) {
                color:red;
                
                }
            
            }      
       }
        
    
    .person {
         width: 420px;
         padding: 20px 20px 20px 20px;
         margin: 0 90px 30px 0;
         float: left;
         .border-radius();
         position: relative;
         border: 1px solid #ffffff;
         
         &:nth-child(2n) {
             margin-right:0px;
             }
         
         .avatar {
             width: 140px;
             height: 140px;
             border: 2px solid @white;
             .box-shadow();
             left: -60px;
             top: 15px;
             }
             
         .face {
             width: 66px;
             height: 66px;
             .border-radius(100px);
             border: 2px solid @white;
             .box-shadow();
             position: absolute;
             left: -30px;
             right: inherit;
             top: 130px;
             
             
             i {
                 font-size: 60px;
                 width: 62px;
                 height: 52px;
                 margin: -33px 0 0 -33px;
                 padding-top: 13px;
                 padding-left: 4px;                 
                 }
             
             }
             
         .status {
             margin-left: 75px;
             
             h1 {
                 font-size: 40px;
                 line-height: 1;
                 margin: 10px 0 10px 0 ;
                 padding: 0 0 0 0;                 
                 }
             
             .dateline {
                 display: block;
                 font-weight: 300;
                 font-size: 16px;
                 color: @grey;
                 margin: 0 0 20px 0;
                 }
             
             blockquote {
                 font-size: 22px;
                 margin: 0 0 10px 0;
                 padding: 0 0 0 0;
                 font-style: italic;
                     
                 .person-link {
                     font-weight: 500;
                     color: @link;
                     text-decoration: none;
                     }    
                                
                 }
                              
             }
         
         .interact {
             display: block;
             position: absolute;
             bottom: 0px;
             left: 0px;
             right: 0px;
             height: 30px;
             
             button {
                 .smile;
                 background-color: #cccccc;
                 width: 26px;
                 height: 26px;
                 border: 1px solid #ffffff;
                 .border-radius(40px);
                 float: right;
                 margin: 0 5px 0 0;
                 display: block;
                 opacity: 0.25;
                 position: relative;
                 
                 
                 i {
                     font-size: 20px;
                     text-align: center;
                     position: absolute;
                     font-style: normal;
                     width: 16px;
                     height: 16px;
                     left: 50%;
                     top: 50%;
                     margin: -7px 0 0 -8px;
                     display: block;
                     color: #222222;
                     }
                 
                 }
             
             &:hover {
                            
                 button {
                     background-color: #fddb3e;
                     opacity: 0.9;
                     
                     i {
                     color: #3e1600;
                         }
                     
                     &:active, &.active {
                         opacity:1;
                         }
                     
                     }
                     
                 }
             
             
             }
         
        }

    }